<div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <a class="navbar-brand" href="<%= search_search_url %>">ask<span>.me</span></a>
        <nav class="navbar-right logged-in-nav">
          <ul class="list-inline">
            <li>
              <%= active_link_to 'Search', search_search_path %>
            </li>

            <li>
              <%= active_link_to 'Profile', profile_reviews_path(current_user.username) %>
            </li>

            <li>
              <%= active_link_to 'Settings', settings_settings_path %>
            </li>
            <li>
              <%= link_to ('<span class="glyphicon glyphicon-log-out"></span>').html_safe, destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> <!-- end of navbar -->