<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reputation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @current_action == 'home' ? 'white-bg' : 'body-bg' %>">

<%= render 'shared/navbar_' + (user_signed_in? ? 'in' : 'out') %>

<%= yield %>

</body>
</html>
